#N
@min_distance=0.05
clk
rst_n
s_aw.*
s_w.*
s_b.*
s_ar.*
s_r.*
drc_irq
drc_trap
dma_irq
dma_trap

#S
@min_distance=0.05
m_aw.*
m_b.*

#E
@min_distance=0.1
dvp_d_i.*
dvp_href_i
dvp_vsync_i
dvp_hsync_i
dvp_pclk_i
dvp_xclk_o
dvp_pwdn_o

#W
@min_distance=0.1
m_w.*
